:root {
    --background-color: #fff;
    --text-color: #000;
}

/* Dark theme */
[data-theme="dark"] {
    --background-color: #0d1017;
    --text-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

div {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#csvDisplay {
    border: 1px solid #ddd;
    padding: 10px;
    width: 80%;
    height: 300px;
    overflow: auto;
    background-color: white;
    margin-top: 20px;
    word-wrap: break-word;
}

/* Container */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* Hide the default checkbox */
.theme-switch input {
    display: none;
}

/* Custom slider */
.theme-switch .slider {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #c6c6c6;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.theme-switch-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
}

.theme-switch .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: #4fbe79;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Icon styles */
.icon {
    display: none;
    position: absolute;
    font-size: 20px;
}

.moon {
    left: 5px;
    top: 7px;
}

.sun {
    right: 5px;
    top: 7px;
}

input:checked + .slider .moon {
    display: block;
}

input:not(:checked) + .slider .sun {
    display: block;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
