body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input, button {
    margin: 10px;
}

#csvDisplay {
    margin-top: 20px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #F1F7ED;
    color: #252627;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    background-color: #EFA9AE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
    color: #E55381;
    text-align: center;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #91C7B1;
}

button {
    background-color: #91C7B1;
    color: #252627;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #252627;
    color: #F1F7ED;
}

a {
    color: #E55381;
    text-decoration: none;
}
