.savvybotContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.messageBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
    width: 900px;
    justify-content: flex-end;
    height: 100%;
}

.savvyResponse, .userMessage {
    display: flex;
    gap: 20px;
    padding: 25px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.messageBubble {
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.userMessage {
    justify-content: flex-end;
    position: relative;
}

.savvyResponse {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    max-height: 100%; /* Ensure it does not exceed the container's height */
    width: 100%;
}

.messageBubble {
    background: linear-gradient(to right, #46D085, #1D6F42);
}

.messageBar {
    position: relative;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    z-index: 2;
    flex-grow: 1;
    outline: none;
}

.messageBarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 8px;
    margin: 0 auto;
}

.messageBarWrapper textarea {
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    bottom: 0;
    padding-left: 40px;
}

.messageBarWrapper textarea:focus {
    outline: none;
}

.messageBarWrapper button {
    position: absolute;
    right: 12px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.messageBar .messageBarWrapper {
    position: relative;
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.userFeedback {
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}


.tableHeader {
    text-align: left; 
    vertical-align: middle; 
    padding: 8px;
    background: linear-gradient(to top, #46D085, #1D6F42);
    width: 100%;
}

.tableHeaderData {
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}

.tableBodyData {
    color: black;
    border-bottom: 1px solid #ddd;
    text-align: left; 
    vertical-align: middle; 
    padding: 8px; 
    width: 100%;
}

@media (max-width: 1400px) {
    .messageBarWrapper {
        width: 600px;
    }
}

@media (max-width: 1200px) {
    .messageBarWrapper {
        width: 500px;
    }
}

@media (max-width: 992px) {
    .messageBarWrapper {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .messageBarWrapper {
        width: 320px;
    }
}

@media (max-width: 576px) {
    .messageBarWrapper {
        width: 240px;
    }
}
