.savvybotContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.messageBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
    width: 900px;
    justify-content: flex-end;
}

.savvyResponse, .userMessage {
    display: flex;
    gap: 20px;
    padding: 25px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.messageBubble {
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.userMessage {
    justify-content: flex-end;
    position: relative;
}

.savvyResponse {
    justify-content: flex-start;
    position: relative;
}

.messageBubble {
    background: linear-gradient(to right, #46D085, #1D6F42);
}

.messageBar {
    position: relative;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    z-index: 2;
    flex-grow: 1;
    outline: none;
}

.messageBarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 8px;
    margin: 0 auto;
}

.messageBarWrapper textarea {
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    bottom: 0;
    padding-left: 40px;
}

.messageBarWrapper textarea:focus {
    outline: none;
}

.messageBarWrapper button {
    position: absolute;
    right: 12px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.messageBar .messageBarWrapper {
    position: relative;
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.userFeedback {
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

/* Updated table styles */
.csvTable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #1D6F42; /* Green border for the entire table */
}

.csvTable th {
    background-color: #1D6F42; /* Green background for headers */
    color: white;
    padding: 8px;
    text-align: left;
    border: 2px solid #1D6F42; /* Green border for header cells */
}

.csvTable td {
    padding: 8px;
    text-align: left;
    border: 2px solid #1D6F42; /* Green border for table cells */
    color: #333; /* Darker text color */
    white-space: nowrap;
}

.customTableCell {
    padding: 8px;
    text-align: left;
    border: 2px solid #1D6F42; /* Green border for custom cells */
    color: #333; /* Darker text color */
    white-space: nowrap;
}

@media (max-width: 1400px) {
    .messageBarWrapper {
        width: 600px;
    }
}

@media (max-width: 1200px) {
    .messageBarWrapper {
        width: 500px;
    }
}

@media (max-width: 992px) {
    .messageBarWrapper {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .messageBarWrapper {
        width: 320px;
    }
}

@media (max-width: 576px) {
    .messageBarWrapper {
        width: 240px;
    }
}
