.savvybotContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.messageBoxContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
    width: 100%;
    align-items: center;
}

.messageBoxWrapper {
    width: 70%;
}

.savvyResponse,
.userMessage {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.messageBubble {
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.userMessage {
    justify-content: flex-end;
    position: relative;
    max-height: 100%;
    overflow-x: auto;
    margin-top: 75px;
    margin-bottom: 75px;
}

.savvyResponse {
    max-height: 100%;
    position: relative;
    overflow-y: auto;
    max-height: 500px;
}

.messageItemContainer {
    max-height: 75%;
}

.messageBubble {
    background: linear-gradient(to right, #46D085, #1D6F42);
}

.messageBubbleLoading {
    padding: 8px 20px;
    border-radius: 40px;
    max-width: 80px;
    word-wrap: break-word;
    background: linear-gradient(to right, #46D085, #1D6F42);
}

.typingIndicator {
    width: 40px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-4px);
    }
}

.messageBar {
    position: relative;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    z-index: 2;
    flex-grow: 1;
    outline: none;
}

.messageBarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 8px;
    margin: 0 auto;
}

.messageBarWrapper textarea {
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    bottom: 0;
    padding-left: 40px;
}

.messageBarWrapper textarea:focus {
    outline: none;
}

.messageBarWrapper button {
    position: absolute;
    right: 12px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.messageBar .messageBarWrapper {
    position: relative;
    width: 72%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.userFeedback {
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.tableContainer {
    width: 100%;
    table-layout: auto;
}

.tableHeader {
    position: sticky;
    top: 0;
    background: linear-gradient(to top, #46D085, #1D6F42);
    border-radius: 10px;
    overflow-x: auto;
    width: 100%;
}

.tableHeaderData {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    white-space: nowrap;
    text-align: center;
}

table th:first-child {
    border-radius: 10px 0 0 10px;
}

table th:last-child {
    border-radius: 0 10px 10px 0;
}

.tableBody {
    width: 100%;
}

.tableBodyData {
    color: black;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    width: 100%;
}

.tableButtonGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding-top: 5px;
}

.tableButtonGroup span {
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    color: darkgray;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
}

span a {
    text-decoration: none;
    color: inherit;
    background: none;
}

.tableButtonGroup span:hover {
    background-color: #f2f2f2;
}

@media (max-width: 1400px) {
    .messageBarWrapper {
        width: 600px;
    }
    .savvybotContainer {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .messageBarWrapper {
        width: 500px;
    }
    .savvybotContainer {
        width: 1100px;
    }
}

@media (max-width: 992px) {
    .messageBarWrapper {
        width: 400px;
    }
    .savvybotContainer {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .messageBarWrapper {
        width: 320px;
    }
    .savvybotContainer {
        width: 600px;
    }
}

@media (max-width: 576px) {
    .messageBarWrapper {
        width: 240px;
    }
}