.savvy-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    color: white;
    background-color: #fafafa;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.savvy-title {
    background-image: linear-gradient(to bottom, #46D085, #1D6F42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.main-container {
    display: flex;
    flex-grow: 1;
    position: relative;
}

.sidebar {
    background: linear-gradient(to top, #46D085, #1D6F42);
    padding: 1rem;
    width: 275px;
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.sidebar-content {
    margin-top: 55px;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.content {
    background-color: #fafafa;
    flex-grow: 1;
    margin-left: 275px;
    transition: margin-left 0.3s ease;
}

.sidebar.closed~.content {
    margin-left: 0;
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }

    .main-container {
        margin-left: 0;
    }

    .content {
        margin-left: 0;
    }
}