.savvy-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    color: white;
    background-color: #f8f7f7;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.profile-image {
    border-radius: 50px;
    width: 35px;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
}

.dropdown-wrapper {
    position: absolute;
    top: 76%;
    right: 0.8rem;
    z-index: 1000;
    width: 250px;
}

.dropdown-wrapper img {
    border-radius: 50px;
    width: 35px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.dropdown-item-wrapper {
    font-size: 14px;
    color: darkgray;
    flex-direction: column;
}

.dropdown-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.dropdown-row:hover {
    background-color: #f2f2f2;
}

.logout-icon {
    fill: darkgray !important;
    width: 20px;
    height: 20px 
}

.sub-dropdown {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.sub-dropdown hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: darkgray;
    margin: 15px 0 10px;
}

.savvy-title {
    background-image: linear-gradient(to bottom, #46D085, #1D6F42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    transition: margin-left 0.3s ease;
}

.toggle-icon {
    position: absolute;
    left: 1rem;
}

.spacer {
    width: 24px;
}

.main-container {
    display: flex;
    flex-grow: 1;
    position: relative;
}

.sidebar {
    background: linear-gradient(to top, #46D085, #1D6F42);
    padding: 1rem;
    width: 275px;
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.sidebar-content {
    margin-top: 55px;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.content {
    background-color: #f8f7f7;
    flex-grow: 1;
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}

.sidebar.closed~.content {
    margin-left: 0;
}

.savvy-title.with-sidebar-closed {
    margin-left: 0;
}

.savvy-title.with-sidebar-open {
    margin-left: 275px;
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }

    .savvy-title.savvy-title.with-sidebar-open {
        margin-left: 0;
    }

    .main-container {
        margin-left: 0;
    }

    .content {
        margin-left: 0;
    }
    
    .toggle-icon {
        display: none;
    }
}