html, body {
    height: 100%;
    margin: 0;
}

.savvy-title {
    color: rgb(29, 111, 66);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    padding: 10px;
}

.username {
    color: rgb(115, 115, 115);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end;
}

.sidebar {
    position: relative;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(29, 111, 66);
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, padding 0.2s;
    padding: 10px;
    transform: translateX(100%);
    white-space: nowrap;
}

.sidebar.active {
    transform: translateX(0); 
    width: 250px;
}

.sidebar.hidden {
    transform: translateX(100%);
    width: 0px;
    padding: 0px;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, padding 0.9s;
}

.search-date {
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.search-prompt {
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.sidebar-button {
    font-size: 50px;
    border: none;
    fill: none;
}

@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}



