.savvybotContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bs-msg-bg);
}

.messageBoxContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}

.messageBoxWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto; 
    overflow: auto;
    margin: 0 auto;
}

.savvyResponse,
.userMessage {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.messageBubble {
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.userMessage {
    justify-content: flex-end;
    position: relative;
    max-height: 100%;
    overflow-x: auto;
    margin: 55px 0 55px 0; /* Space between messages */
}

.savvyResponse {
    max-height: 100%;
    justify-content: flex-start;
    position: relative;
    max-height: 500px;
    overflow-y: hidden;
    outline: none;
}

.savvyResponse:focus {
    overflow-y: auto;
}

.messageItemContainer {
    max-width: 875px;
    max-height: 75%;
    margin: 0 auto;
     /* Prevents table width from breaking SavvyContainer */
}

.messageItemContainer:focus {
    overflow-y: auto;
}

.messageItemContainer:focus-within .tableHeaderData {
    color: #ffff;
    animation: fadeInLeftToRight 0.1s ease-in-out forwards;
}

@keyframes fadeInLeftToRight {
    0% {
        opacity: 0; /* Fully transparent */
    }
    100% {
        opacity: 1; /* Fully visible */
    }
}

.messageItemContainer:focus-within .tableHeader { 
    border: none;
    opacity: 0; 
    animation: fadeInBackground 0.3s ease-in-out forwards;
}

@keyframes fadeInBackground {
    0% {
        background: #2F2F2F;
    }
    100% {
        background: linear-gradient(90deg, hsl(338, 75%, 67%) 0%, hsl(251, 44%, 65%) 100%); /* Full gradient */
        opacity: 1;
    }
}

.messageBubble {
    background: var(--bs-msg-bubble-bg);
}

.messageBubbleLoading {
    padding: 8px 20px;
    border-radius: 40px;
    max-width: 80px;
    word-wrap: break-word;
    background: var(--bs-msg-bubble-loading-bg);
}

.typingIndicator {
    width: 40px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    animation: growShrink 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes growShrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.messageBar {
    position: absolute; /* Or absolute */
    bottom: 0;
    width: 100%;
    height: 6rem;
    z-index: 2;
}

.messageBarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    margin: 0 auto;
}

.messageBarWrapper textarea {
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    bottom: 0;
    padding-left: 40px;
    color: var(--bs-textarea-color);
    background-color: var(--bs-msg-bar-bg);
}

.messageBarWrapper textarea:focus {
    outline: none;
}

.messageBarWrapper button {
    position: absolute;
    right: 16px;
    border-radius: 80px;
    border: none;
    background-color: var(--bs-msg-bar-bg);
}

.messageBar .messageBarWrapper {
    position: relative;
    max-width: 920px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.userFeedback {
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.tableContainer {
    width: 100%;
    table-layout: auto;
}

.tableHeader {
    position: sticky;
    top: 0;
    background: var(--bs-table-header-color);
    border-bottom: 1px solid var(--bs-table-border-color);
    border-right: 1px solid var(--bs-table-border-color);
    border-left: 1px solid var(--bs-table-border-color);
    border-radius: 10px;
    overflow-x: auto;
    width: 100%;
}

.tableHeaderData {
    color: var(--bs-table-header-data-color);
    border-bottom: 1px solid var(--bs-table-border-color);
    border-right: 1px solid var(--bs-table-border-color);
    border-left: 1px solid var(--bs-table-border-color);
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

table th:first-child {
    border-radius: 0px 0 0 0px;
}

table th:last-child {
    border-radius: 0 0px 0px 0;
}

.tableBody {
    width: 100%;
}

.tableBodyData {
    color: var(--bs-table-data-color);
    border-bottom: 1px solid var(--bs-table-border-color);
    border-right: 1px solid var(--bs-table-border-color);
    border-left: 1px solid var(--bs-table-border-color);
    text-align: center;
    padding: 8px;
    font-weight: 400;
    width: 100%;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

.tableButtonGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding-top: 5px;
}

.tableButtonGroup span {
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    color: var(--bs-table-button-color);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
}

span a {
    text-decoration: none;
    color: inherit;
    background: none;
}

.tableButtonGroup span:hover {
    background-color: var(--bs-table-btn-hover-bg);
}

@media (max-width: 1400px) {

    .savvybotContainer {
        width: 100%;
    }
}

@media (max-width: 1200px) {

    .savvybotContainer {
        width: 100%;
    }
}

@media (max-width: 940px) {
    .messageBarWrapper .messageBar {
        width: 860px; /* 40px reduction */
    }
    .savvybotContainer {
        width: 100%;
    }
    .messageItemContainer {
        width: 100%;
    }
    .messageBoxWrapper {
        width: 750px; /* 40px reduction */
    }
}

@media (max-width: 900px) {
    .messageBarWrapper .messageBar {
        width: 820px; /* 40px reduction */
    }
    .savvybotContainer {
        width: 100%;
    }
    .messageItemContainer {
        width: 100%;
    }
    .messageBoxWrapper {
        width: 710px; /* 40px reduction */
    }
}

@media (max-width: 860px) {
    .messageBarWrapper .messageBar {
        width: 780px; /* 40px reduction */
    }
    .savvybotContainer {
        width: 100%;
    }
    .messageItemContainer {
        width: 100%;
    }
    .messageBoxWrapper {
        width: 670px; /* 40px reduction */
    }
}

@media (max-width: 820px) {
    .messageBarWrapper .messageBar {
        width: 740px; /* 40px reduction */
    }
    .savvybotContainer {
        width: 100%;
    }
    .messageItemContainer {
        width: 100%;
    }
    .messageBoxWrapper {
        width: 630px; /* 40px reduction */
    }
}

@media (max-width: 780px) {
    .messageBarWrapper .messageBar {
        width: 700px; /* 40px reduction */
    }
    .savvybotContainer {
        width: 100%;
    }
    .messageItemContainer {
        width: 100%;
    }
    .messageBoxWrapper {
        width: 590px; /* 40px reduction */
    }
}

@media (max-width: 740px) {
    .messageBarWrapper .messageBar {
        width: 660px; /* 40px reduction */
    }
    .savvybotContainer {
        width: 100%;
    }
    .messageItemContainer {
        width: 100%;
    }
    .messageBoxWrapper {
        width: 550px; /* 40px reduction */
    }
}

@media (max-width: 680px) {
    .messageBarWrapper .messageBar {
        width: 580px; /* 40px reduction */
    }
    .savvybotContainer {
        width: 100%;
    }
    .messageItemContainer {
        width: 100%;
    }
    .messageBoxWrapper {
        width: 550px; /* 40px reduction */
    }
}

@media only screen and (max-width: 430px) {
    .savvybotContainer {
        width: 100%;
        height: 70vh; 
        padding: 0 10px; 
    }

    .messageBoxContainer {
        width: 100%;
        max-height: calc(100vh - 16rem); 
    }

    .messageItemContainer {
        max-height: 75%;
        max-width: 410px /* Prevents table width from breaking SavvyContainer */
    }

    .messageBoxWrapper {
        width: 90%; 
    }

    .savvyResponse,
    .userMessage {
        font-size: 15px; 
        gap: 10px; 
    }

    .messageBubble {
        padding: 12px 22px; 
        max-width: 80%; 
    }

    .userMessage {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .savvyResponse {
        max-height: 350px;
    }

    .messageBarWrapper {
        width: 100%; 
        padding: 8px;
        bottom: 4em;
    }

    .messageBarWrapper textarea {
        padding: 12px 18px; 
    }

    .messageBarWrapper button {
        right: 12px; 
    }

    .userFeedback {
        font-size: 9px; 
    }

    .tableHeader {
        font-size: 15px; 
    }

    .tableBodyData {
        font-size: 15px; 
    }

    .messageBar {
        height: 6rem; 
    }
}

@media only screen and (max-width: 390px) {

    .messageItemContainer {
        max-height: 75%;
        max-width: 370px /* Prevents table width from breaking SavvyContainer */
    }
}