.cardContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 750px;
    align-items: center;
    justify-content: center;
}

.teamMemberImage img {
    height: 140px;
    width: 140px;
    border-radius: 25%;
}

.teamMemberInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

.accentText {
    background-image: linear-gradient(90deg, hsl(338, 75%, 67%) 0%, hsl(251, 44%, 65%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.teamMemberName {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.teamMemberTitle {
    font-size: 18px;
    margin-bottom: 5px;
}
